@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Manrope"),
    /* Если не получилось, загрузит woff2 */
      url("/fonts/Manrope/Manrope-Regular.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
      url("/fonts/Manrope/Manrope-Regular.woff") format("woff");
}
