body {
  margin: 0;
  font-family: "Nunito", "Tahoma", sans-serif;
  background-color: #e5e5e5;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap: 90px;
  width: 960px;
  height: 83px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 14.06%,
    rgba(255, 255, 255, 0.8) 85.42%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(111px);

}

a {
  text-decoration: none;
  color:#485466;
  
}
.item-one {
  margin-top: 141px;
}
.item-one h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 70px;
  background: linear-gradient(112.77deg, #c381db 0%, #4e92f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.col-6 {
  display: flex;
}

.item-one h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  color: #485466;
}
.item-one h3 {
  margin-top: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #5a6980;
  flex: none;
  order: 1;
  flex-grow: 0;
}
button {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: white;
  background: linear-gradient(112.77deg, #c381db 0%, #4e92f9 100%);
  box-sizing: border-box;
  padding: 7px 16px;
  border-radius: 8px;
  flex: none;
  margin-top: 56px;
}

.button-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
}
.shadow-1 {
  margin-left: 2px;
  margin-top: 60px;
  position: absolute;
  width: 127px;
  height: 46px;
  background: linear-gradient(112.77deg, #c381db 0%, #4e92f9 100%);
  opacity: 0.5;
  filter: blur(24px);
  border-radius: 7px;
}

.img-fluid {
  margin: 0;
}
